.login-f{
	position: relative;
	left: 50em;
	color: #000;
	background:rgba(0, 0, 0,0.4);
	width: 500px;
	padding: 80px;

	

}
.fondo{
	background: url(../img/fondo3.jpg) ;
 	background-color: red; 
  	background-size: cover; 
  	background-position: right bottom; 
}
.link{
	color: green;
}